/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */
body{
    display: grid;
    grid-template-columns: auto;
     grid-template-rows: auto; 
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    font-size: 22px;
}
.paragraph_one{
    background-color:goldenrod;
    color: white;
    margin: 10px;
    padding: 70px;
    border-style:dotted;

}
.paragraph_two{
    background-color:yellowgreen ;
    color: white;
    margin: 15px;
    padding: 60px;
    border-style:double; 
}
.paragraph_three{
    background-color:darkolivegreen;
    color: white;
    margin: 20px;
    padding: 50px;
    border-style:groove;
}
.paragraph_four{
    background-color:green;
    color: white;
    margin: 25px;
    padding: 40px;
    border-style:inset;  
}
.paragraph_five{
    background-color:darkgreen;
    color: white;
    margin: 30px;
    padding: 30px;
    border-style:outset; 
}